@font-face {
  font-family: "brusher";
  src: url(fonts/Brusher.ttf);
}

@font-face {
  font-family: "quicksand";
  src: url(fonts/Quicksand-Regular.ttf);
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,.5)), url("./images/main.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1 {
  padding: 100px;
}

.landing{
  font-family: quicksand;
  /* background: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,.5)), url("./images/main.jpg") no-repeat center center fixed;
  background-size: cover; */
  color: white;
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 5%;
}

.button{
  border-radius: 8px;
  font-family: quicksand;
  font-family: quicksand;
  background-color: blue;
}

.logo{
  font-size: 90px;
  font-family: brusher;
}

.login{
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 200px;
  color: white;
  text-align: center;
}

.footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:60px;
    width:100%;
    width:100%;
    font-family: quicksand;
}

a {
  text-decoration: none;
  color: white;
}

.nav{
    position:fixed;
    left:0px;
    top:0px;
    height:60px;
    width:100%;
    background:grey;
    text-decoration: none;

}

.footer-logo{
  font-family: brusher;
  font-size: 30px;
}

form{
  margin-top: 100px;
}
